pkgbase = android-remote-camera-git
	pkgdesc = Android remote camera.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.0.1.1.r0.g5b3e06f024b089a173a01c3387bbf0f9d2f83651
	pkgrel = 1
	url = https://github.com/themartiancompany/android-remote-camera
	arch = any
	groups = hip
	groups = hip-git
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	makedepends = curl
	makedepends = jq
	depends = android-vnc-viewer
	depends = dynssh
	depends = libcrash-bash
	provides = android-remote-camera=0.0.0.0.0.0.0.0.0.0.0.0.0.1.1.r0.g5b3e06f024b089a173a01c3387bbf0f9d2f83651
	conflicts = android-remote-camera
	source = android-remote-camera.tar.gz::https://github.com/themartiancompany/android-remote-camera/archive/refs/heads/master.tar.gz
	sha256sums = SKIP

pkgname = android-remote-camera-git
